.download {
    margin-bottom: 300px;
}

.download h2 {
    text-align: center;
    margin-bottom: 20px;
}

.download h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

@media (max-width: 700px) {
    .download {
        font-size: 0.8rem;
    }
}