.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    padding: 5px 20px;
    margin-bottom: 30px;
    background-color: #527CA3;
}

.header>* {
    margin: 0px 5px;
}

.header__logo {
    min-width: 2vh;
    max-width: 7vh;
    object-fit: contain;
    opacity: 0.9;
}

.header__title-large {
    font-size: 1.4rem;
}

.header__title-medium {
    font-size: 1.1rem;
}

@media (max-width: 700px) {
    .header__title-large {
        font-size: 1rem;
    }
    .header__title-medium {
        font-size: 0.7rem;
    }
}